docs/example-workflow.json
{
  "name": "Langfuse Studio — Full Demo (OpenAI + all operations)",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-260, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "traceId", "value": "=n8n-demo-{{ $now.toMillis() }}", "type": "string" },
            { "id": "a2", "name": "sessionId", "value": "=n8n-session-{{ $now.toFormat('yyyy-LL-dd') }}", "type": "string" },
            { "id": "a3", "name": "spanId", "value": "=span-{{ $now.toMillis() }}", "type": "string" },
            { "id": "a4", "name": "genId", "value": "=gen-{{ $now.toMillis() }}", "type": "string" },
            { "id": "a5", "name": "scoreId", "value": "=score-{{ $now.toMillis() }}", "type": "string" },
            { "id": "a6", "name": "prompt", "value": "Explain in one sentence why observability matters for LLM applications.", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Setup IDs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-40, 300]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "value": "gpt-4o-mini", "mode": "list", "cachedResultName": "gpt-4o-mini" },
        "messages": {
          "values": [
            { "content": "={{ $json.prompt }}", "role": "user" }
          ]
        },
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "OpenAI Chat",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [180, 300],
      "credentials": {
        "openAiApi": { "id": "REPLACE_OPENAI_CRED", "name": "OpenAi account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "trace",
        "operation": "traceCreate",
        "traceId": "={{ $('Setup IDs').item.json.traceId }}",
        "name": "n8n-demo-trace",
        "inputJson": "={{ JSON.stringify({ prompt: $('Setup IDs').item.json.prompt }) }}",
        "outputJson": "={{ JSON.stringify($('OpenAI Chat').item.json) }}",
        "showAdvancedFields": true,
        "sessionId": "={{ $('Setup IDs').item.json.sessionId }}",
        "tags": "n8n,demo,langfuse-studio",
        "environment": "production",
        "metadataJson": "{\"source\":\"n8n\",\"demo\":\"langfuse-studio\"}"
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Trace Create",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [400, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "span",
        "operation": "spanCreate",
        "traceId": "={{ $('Setup IDs').item.json.traceId }}",
        "name": "workflow-step",
        "inputJson": "={{ JSON.stringify({ prompt: $('Setup IDs').item.json.prompt }) }}",
        "showAdvancedFields": true,
        "observationId": "={{ $('Setup IDs').item.json.spanId }}",
        "startTime": "={{ $now.toISO() }}",
        "environment": "production"
      },
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "Span Create",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [620, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "span",
        "operation": "spanUpdate",
        "traceId": "={{ $('Setup IDs').item.json.traceId }}",
        "name": "workflow-step",
        "showAdvancedFields": true,
        "observationId": "={{ $('Setup IDs').item.json.spanId }}",
        "endTime": "={{ $now.toISO() }}",
        "level": "DEFAULT",
        "statusMessage": "completed",
        "outputJson": "{\"status\":\"ok\"}"
      },
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "Span Update",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [840, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "generation",
        "operation": "generationCreate",
        "traceId": "={{ $('Setup IDs').item.json.traceId }}",
        "name": "openai-generation",
        "model": "gpt-4o-mini",
        "inputJson": "={{ JSON.stringify({ prompt: $('Setup IDs').item.json.prompt }) }}",
        "outputJson": "={{ JSON.stringify($('OpenAI Chat').item.json) }}",
        "showAdvancedFields": true,
        "observationId": "={{ $('Setup IDs').item.json.genId }}",
        "parentObservationId": "={{ $('Setup IDs').item.json.spanId }}",
        "startTime": "={{ $now.toISO() }}",
        "environment": "production",
        "usageDetailsJson": "={{ JSON.stringify($('OpenAI Chat').item.json.usage ?? $('OpenAI Chat').item.json.tokenUsage ?? {}) }}",
        "modelParametersJson": "{\"temperature\":0.7}"
      },
      "id": "77777777-7777-4777-8777-777777777777",
      "name": "Generation Create",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [1060, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "generation",
        "operation": "generationUpdate",
        "traceId": "={{ $('Setup IDs').item.json.traceId }}",
        "name": "openai-generation",
        "model": "gpt-4o-mini",
        "outputJson": "={{ JSON.stringify($('OpenAI Chat').item.json) }}",
        "showAdvancedFields": true,
        "observationId": "={{ $('Setup IDs').item.json.genId }}",
        "endTime": "={{ $now.toISO() }}",
        "costDetailsJson": "{\"total_cost\":0.0001}"
      },
      "id": "88888888-8888-4888-8888-888888888888",
      "name": "Generation Update",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [1280, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "generation",
        "operation": "finalizeSpan",
        "traceId": "={{ $('Setup IDs').item.json.traceId }}",
        "name": "llm-response",
        "model": "gpt-4o-mini",
        "promptName": "answer-query",
        "promptVersion": "1",
        "inputJson": "={{ JSON.stringify({ prompt: $('Setup IDs').item.json.prompt }) }}",
        "outputJson": "={{ JSON.stringify($('OpenAI Chat').item.json) }}",
        "showAdvancedFields": true,
        "observationId": "={{ $('Setup IDs').item.json.spanId }}",
        "endTime": "={{ $now.toISO() }}"
      },
      "id": "99999999-9999-4999-8999-999999999999",
      "name": "Finalize Span",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [1500, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "score",
        "operation": "scoreCreate",
        "traceId": "={{ $('Setup IDs').item.json.traceId }}",
        "scoreName": "demo-relevance",
        "scoreValue": "0.9",
        "scoreDataType": "NUMERIC",
        "showAdvancedFields": true,
        "scoreId": "={{ $('Setup IDs').item.json.scoreId }}",
        "scoreComment": "Automated demo score",
        "scoreEnvironment": "production"
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Score Create",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [1720, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "system",
        "operation": "eventCreate",
        "traceId": "={{ $('Setup IDs').item.json.traceId }}",
        "name": "demo-event",
        "inputJson": "{\"event\":\"user_action\"}",
        "showAdvancedFields": true,
        "parentObservationId": "={{ $('Setup IDs').item.json.spanId }}",
        "environment": "production",
        "metadataJson": "{\"step\":\"event-demo\"}"
      },
      "id": "bbbbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb",
      "name": "Event Create",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [1940, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "system",
        "operation": "sdkLogCreate",
        "traceId": "={{ $('Setup IDs').item.json.traceId }}",
        "sdkMessage": "n8n Langfuse Studio demo SDK log",
        "sdkLevel": "info",
        "showAdvancedFields": true,
        "metadataJson": "{\"component\":\"n8n\"}"
      },
      "id": "cccccccc-cccc-4ccc-8ccc-cccccccccccc",
      "name": "SDK Log",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [2160, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "system",
        "operation": "batchRaw",
        "batchJson": "={{ JSON.stringify({ batch: [ { id: 'evt-' + $now.toMillis(), type: 'event-create', timestamp: $now.toISO(), body: { id: 'batch-' + $now.toMillis(), traceId: $('Setup IDs').item.json.traceId, name: 'raw-batch-event' } } ] }) }}"
      },
      "id": "dddddddd-dddd-4ddd-8ddd-dddddddddddd",
      "name": "Batch Raw",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [2380, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 5
      },
      "id": "eeeeeeee-eeee-4eee-8eee-eeeeeeeeeeee",
      "name": "Wait for Ingestion",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2600, 300],
      "webhookId": "langfuse-demo-wait"
    },
    {
      "parameters": {
        "resource": "system",
        "operation": "health"
      },
      "id": "ffffffff-ffff-4fff-8fff-ffffffffffff",
      "name": "Health",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [2820, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "prompt",
        "operation": "listPrompts",
        "showAdvancedFields": true,
        "queryJson": "{\"limit\":5}"
      },
      "id": "10101010-1010-4101-8101-101010101010",
      "name": "List Prompts",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [3040, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "prompt",
        "operation": "getPrompt",
        "promptName": "={{ $json.data?.[0]?.name }}"
      },
      "id": "12121212-1212-4121-8121-121212121212",
      "name": "Get Prompt",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [3260, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "trace",
        "operation": "listTraces",
        "showAdvancedFields": true,
        "queryJson": "{\"limit\":5}"
      },
      "id": "13131313-1313-4131-8131-131313131313",
      "name": "List Traces",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [3480, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "trace",
        "operation": "getTrace",
        "traceId": "={{ $('Setup IDs').item.json.traceId }}"
      },
      "id": "14141414-1414-4141-8141-141414141414",
      "name": "Get Trace",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [3700, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "observation",
        "operation": "listObservations",
        "showAdvancedFields": true,
        "queryJson": "{\"limit\":5}"
      },
      "id": "15151515-1515-4151-8151-151515151515",
      "name": "List Observations",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [3920, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "observation",
        "operation": "getObservation",
        "observationId": "={{ $('Setup IDs').item.json.spanId }}"
      },
      "id": "16161616-1616-4161-8161-161616161616",
      "name": "Get Observation",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [4140, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "score",
        "operation": "listScores",
        "showAdvancedFields": true,
        "queryJson": "{\"limit\":5}"
      },
      "id": "17171717-1717-4171-8171-171717171717",
      "name": "List Scores",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [4360, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "score",
        "operation": "getScore",
        "scoreId": "={{ $('Setup IDs').item.json.scoreId }}"
      },
      "id": "18181818-1818-4181-8181-181818181818",
      "name": "Get Score",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [4580, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "score",
        "operation": "deleteScore",
        "scoreId": "={{ $('Setup IDs').item.json.scoreId }}"
      },
      "id": "19191919-1919-4191-8191-191919191919",
      "name": "Delete Score",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [4800, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "session",
        "operation": "listSessions",
        "showAdvancedFields": true,
        "queryJson": "{\"limit\":5}"
      },
      "id": "20202020-2020-4202-8202-202020202020",
      "name": "List Sessions",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [5020, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "queue",
        "operation": "listAnnotationQueues",
        "showAdvancedFields": true,
        "queryJson": "{\"limit\":5}"
      },
      "id": "21212121-2121-4212-8212-212121212121",
      "name": "List Annotation Queues",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [5240, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "queue",
        "operation": "getAnnotationQueue",
        "queueId": "={{ $json.data?.[0]?.id }}"
      },
      "id": "23232323-2323-4232-8232-232323232323",
      "name": "Get Annotation Queue",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [5460, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "system",
        "operation": "customRequest",
        "path": "/v2/scores",
        "method": "GET",
        "showAdvancedFields": true,
        "queryJson": "{\"limit\":1}"
      },
      "id": "24242424-2424-4242-8242-242424242424",
      "name": "Custom Request",
      "type": "n8n-nodes-langfuse-studio.langfuse",
      "typeVersion": 2,
      "position": [5680, 300],
      "credentials": {
        "langfuseApi": { "id": "REPLACE_LANGFUSE_CRED", "name": "Langfuse account" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Langfuse Studio — Full Demo\n\nThis workflow exercises **every** operation of the Langfuse node (v2) end-to-end:\n\n**Ingestion (writes):** Trace → Span (create/update) → Generation (create/update) → Finalize Span → Score → Event → SDK Log → Batch Raw.\n\n**Public API (reads):** Health, List/Get Prompt, List/Get Trace, List/Get Observation, List/Get/Delete Score, List Sessions, List/Get Annotation Queue, Custom Request.\n\n### Before running\n1. Install the community node `n8n-nodes-langfuse-studio`.\n2. Create **Langfuse API** credentials and select them on every Langfuse node.\n3. Select your **OpenAI** credentials on the OpenAI Chat node.\n\n### Notes\n- Every node uses *Continue On Error*, so one failure never stops the run.\n- A 5s Wait sits between writes and reads so freshly-ingested data has time to flush. Langfuse ingestion is async — Get Trace/Observation/Score may still 404 on very fast runs; that is expected.\n- Delete Score only removes the demo score this run created (safe, non-destructive).",
        "height": 460,
        "width": 520
      },
      "id": "25252525-2525-4252-8252-252525252525",
      "name": "README",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-260, -240]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Setup IDs", "type": "main", "index": 0 }]] },
    "Setup IDs": { "main": [[{ "node": "OpenAI Chat", "type": "main", "index": 0 }]] },
    "OpenAI Chat": { "main": [[{ "node": "Trace Create", "type": "main", "index": 0 }]] },
    "Trace Create": { "main": [[{ "node": "Span Create", "type": "main", "index": 0 }]] },
    "Span Create": { "main": [[{ "node": "Span Update", "type": "main", "index": 0 }]] },
    "Span Update": { "main": [[{ "node": "Generation Create", "type": "main", "index": 0 }]] },
    "Generation Create": { "main": [[{ "node": "Generation Update", "type": "main", "index": 0 }]] },
    "Generation Update": { "main": [[{ "node": "Finalize Span", "type": "main", "index": 0 }]] },
    "Finalize Span": { "main": [[{ "node": "Score Create", "type": "main", "index": 0 }]] },
    "Score Create": { "main": [[{ "node": "Event Create", "type": "main", "index": 0 }]] },
    "Event Create": { "main": [[{ "node": "SDK Log", "type": "main", "index": 0 }]] },
    "SDK Log": { "main": [[{ "node": "Batch Raw", "type": "main", "index": 0 }]] },
    "Batch Raw": { "main": [[{ "node": "Wait for Ingestion", "type": "main", "index": 0 }]] },
    "Wait for Ingestion": { "main": [[{ "node": "Health", "type": "main", "index": 0 }]] },
    "Health": { "main": [[{ "node": "List Prompts", "type": "main", "index": 0 }]] },
    "List Prompts": { "main": [[{ "node": "Get Prompt", "type": "main", "index": 0 }]] },
    "Get Prompt": { "main": [[{ "node": "List Traces", "type": "main", "index": 0 }]] },
    "List Traces": { "main": [[{ "node": "Get Trace", "type": "main", "index": 0 }]] },
    "Get Trace": { "main": [[{ "node": "List Observations", "type": "main", "index": 0 }]] },
    "List Observations": { "main": [[{ "node": "Get Observation", "type": "main", "index": 0 }]] },
    "Get Observation": { "main": [[{ "node": "List Scores", "type": "main", "index": 0 }]] },
    "List Scores": { "main": [[{ "node": "Get Score", "type": "main", "index": 0 }]] },
    "Get Score": { "main": [[{ "node": "Delete Score", "type": "main", "index": 0 }]] },
    "Delete Score": { "main": [[{ "node": "List Sessions", "type": "main", "index": 0 }]] },
    "List Sessions": { "main": [[{ "node": "List Annotation Queues", "type": "main", "index": 0 }]] },
    "List Annotation Queues": { "main": [[{ "node": "Get Annotation Queue", "type": "main", "index": 0 }]] },
    "Get Annotation Queue": { "main": [[{ "node": "Custom Request", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
